.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 100%;
  height: 80px;
}
.header-navbar .brand {
  vertical-align: top;
  display: inline-block;
  line-height: 80px;
}
.header-navbar .brand-cy {
  color: #ffa500;
}
.header-navbar .nav {
  vertical-align: top;
  display: inline-block;
  width: 400px;
  right: 0px;
  float: right;
}
.header-navbar .nav > div {
  width: 80px;
  float: left;
  line-height: 72px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.welcome {
  height: 300px;
}
.whats-new-header {
  height: 25px;
}
.whats-new-title {
  width: 120px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: top;
  color: #fff;
  background-color: #ffa500;
}
.whats-new-content {
  height: 230px;
  background-color: #ffa500;
}
.whats-new-products {
  height: 230px;
  padding: 25px 40px 25px 40px;
}
.whats-new-product {
  height: 180px;
  width: 280px;
  float: left;
}
.whats-new-product-content {
  height: 150px;
  background-color: #fff;
}
.whats-new-product-date {
  width: 120px;
  height: 30px;
  background-color: #fff;
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}
.whats-new-product-more {
  width: 120px;
  height: 30px;
  background-color: #fff;
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}
.whats-new-product + .whats-new-product {
  margin-left: 20px;
}
.contact-header {
  background-color: #fff;
  height: 70px;
}
.contact-header h1 {
  padding: 0;
  margin: 0;
  line-height: 70px;
}
.contact-content {
  height: 510px;
  background-color: #ffa500;
}
.contact-form {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.contact-form-field {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  width: 840px;
  height: 66px;
  margin-bottom: 6px;
}
.contact-form-field-name {
  width: 252px;
  height: 100%;
  line-height: 66px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  text-align: right;
  color: #ffa500;
}
.contact-form-field-large {
  height: 172px;
  margin-bottom: 16px;
}
.contact-form-field-value {
  width: 568px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.contact-form-field-value input {
  border: 0px solid #ffa500;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.contact-form-field-value input:focus {
  outline: 0;
}
.contact-form-field-value textarea {
  border: 0px solid #ffa500;
  width: 100%;
  height: 70%;
  resize: none;
  margin-top: 21px;
}
.contact-form-field-value textarea:focus {
  outline: 0;
}
.contact-form-submit {
  border: 3px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 200px;
  height: 66px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 66px;
  font-size: 36px;
}
.contact-form-submit:hover {
  cursor: pointer;
}
.product-line-header {
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.product-line-header h1 {
  padding: 0;
  margin: 0;
  color: #ffa500;
}
.product-line-product-details {
  background-color: #ffa500;
  height: 240px;
}
.product-line-product-details-pic {
  width: 480px;
  height: 240px;
  vertical-align: top;
  display: inline-block;
  margin-right: -4px;
}
.product-line-product-details-description {
  width: 480px;
  height: 240px;
  vertical-align: top;
  display: inline-block;
}
.product-line-product-details-description-inner {
  padding: 10px;
}
.product-line-product-details-description-top {
  height: 110px;
}
.product-line-product-details-description-bottom {
  height: 110px;
}
.product-line-products {
  background-color: #fff;
  height: 400px;
}
.product-line-products-product {
  width: 228px;
  height: 190px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.product-line-products-product-product-pic {
  height: 152px;
}
.product-line-products-product-product-detail {
  height: 37px;
}
.footer {
  height: 30px;
  background-color: #000;
}
.footer-copyright {
  line-height: 30px;
  text-align: center;
  color: #fff;
}
