@import 'nib'

.container
  width 960px
  margin-left auto
  margin-right auto

.header
  width 100%
  height 80px

  &-navbar
    .brand
      vertical-align top
      display inline-block
      line-height 80px
      &-cy
        color orange

    .nav
      vertical-align top
      display inline-block
      width 400px
      right 0px
      float right
    .nav > div
      width 80px
      float left
      line-height 72px
      margin-top 5px
      margin-bottom 3px


.welcome
  height 300px

.whats-new

  &-header
    height 25px
  &-title
    width 120px
    height 25px
    line-height 25px
    text-align center
    vertical-align top
    color white
    background-color orange

  &-content
    height 230px
    background-color orange
  &-products
    height 230px
    padding 25px 40px 25px 40px
  &-product
    height 180px
    width 280px
    float left
    &-content
      height 150px
      background-color white
    &-date
      width 120px
      height 30px
      background-color white
      display inline-block
      margin-left auto
      margin-right 0
    &-more
      width 120px
      height 30px
      background-color white
      display inline-block
      margin-left auto
      margin-right 0
  &-product + &-product
    margin-left 20px
  

.contact-header
  background-color white
  height 70px
  h1
    padding 0
    margin 0
    line-height 70px
.contact-content
  height 510px
  background-color orange
.contact-form
  padding-top 20px 
  padding-left 60px 
  padding-right 60px 
  &-field
    border-radius 5px
    background-color white
    width 840px
    height 66px
    margin-bottom 6px
    &-name 
      width 252px
      height 100%
      line-height 66px
      display inline-block
      vertical-align top
      margin-right -4px
      text-align right
      color orange

    &-value
      width 568px
      height 100%
      display inline-block
      vertical-align top
      padding-left 10px
      input
        border 0px solid orange
        padding 0px
        width 100%
        height 100%
        &:focus
          outline 0



.footer
  height 30px
  background-color black

  &-copyright
    line-height 30px
    text-align center
    color white
