<header class="header">
  <div class="container">
    <div class="header-navbar">
      <a class="brand"><b><span class="brand-cy">CY</span><span class="brand-sports">SPORT</span></b></a>
      <div class="nav">
        <div class="active"><a href="#">Home</a></div>
        <div><a href="#">A-LINE</a></div>
        <div><a href="#">B-LINE</a></div>
        <div><a href="#">C-LINE</a></div>
        <div><a href="#">CONTACT</a></div>
      </div>
    </div>
  </div>
</header>
