<div class="product-line-header">
  <div class="container">
    <h1>A-Line</h1>
  </div>
</div>

<div class="product-line-product-details">
  <div class="container">
    <div class="product-line-product-details-pic">
      <img src="//placehold.it/480x240">
    </div>

    <div class="product-line-product-details-description">
      <div class="product-line-product-details-description-inner">

        <div class="product-line-product-details-description-top">
          TITLE
        </div>

        <div class="product-line-product-details-description-bottom">
          DESCRIPTION
        </div>

      </div>
    </div>

  </div>
</div>

<div class="product-line-products">
  <div class="container">

    <% 8.times do |num| %>
    <div class="product-line-products-product"> 
      <div class="product-line-products-product-pic">
        <img src="//placehold.it/228x150">
      </div>
      <div class="product-line-products-product-description">
        description
      </div>
    </div>
    <% end %>

  </div>
</div>
