<div class="contact-header">
  <div class="container">
    <h1>CONTACT US</hi>
  </div>
</div>

<div class="contact-content">
  <div class="container">
    <div class="contact-form">
      <div class="contact-form-field">
        <div class="contact-form-field-name">
          <label>FROM:</label>
        </div>
        <div class="contact-form-field-value">
          <input type="text" name="from">
        </div>
      </div>

      <div class="contact-form-field">
        <div class="contact-form-field-name">
          <label>TO:</label>
        </div>
        <div class="contact-form-field-value">
          <input type="text" name="to">
        </div>
      </div>

      <div class="contact-form-field">
        <div class="contact-form-field-name">
          <label>SUBJECT:</label>
        </div>
        <div class="contact-form-field-value">
          <input type="text" name="subject">
        </div>
      </div>

      <div class="contact-form-field contact-form-field-large">
        <div class="contact-form-field-name">
          <label>CONTENT:</label>
        </div>
        <div class="contact-form-field-value">
          <textarea name="content"></textarea>
        </div>
      </div>

      <div class="contact-form-submit">
        SEND
      </div>

    </div>
  </div>
</div>
