<!--
---
title: Welcome to CY-Sport
---
-->

<!--
<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
-->

<!-- Welcome -->
<div class="welcome">
  <div class="container">
    <h1>It all starts with tutles</h1>
    <p>
      We deliver the highest user experience for you and clients.
      Out creative design and development solutions are second to none.
    </p>
  </div>
</div>


<!-- What's New -->
<div class="whats-new">
  
  <!-- What's New - Header -->
  <div class="whats-new-header">
    <div class="container">
      <div class="whats-new-title">What's New</div>
    </div>
  </div>

  <!-- What's New - Content - Begin -->
  <div class="whats-new-content">
    <div class="container">

      <!-- Products -->
      <div class="whats-new-products">
        <div class="whats-new-product">
          <div class="whats-new-product-content">P1</div>
          <div class="whats-new-product-date">2013/5/27</div>
          <div class="whats-new-product-more">More -></div>
        </div>    
        <div class="whats-new-product">
          <div class="whats-new-product-content">P2</div>
          <div class="whats-new-product-date">2013/5/27</div>
          <div class="whats-new-product-more">More -></div>
        </div>    
        <div class="whats-new-product">
          <div class="whats-new-product-content">P3</div>
          <div class="whats-new-product-date">2013/5/27</div>
          <div class="whats-new-product-more">More -></div>
        </div>    
      </div>

    </div>
  </div>
  <!-- What's New - Content - End -->

</div>

